*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: rgb(219, 226, 226);
}
.row{
	background: white;
	border-radius: 1px;
	size: a4;
	width: 1200px;
  height: 500px;
  border: 1px solid blue;
}
.btn1{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: #3B5998;
	color: white;
	border-radius: 1px;
	font-weight: bold;
}
.btn2{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: green;
	color: white;
	border-radius: 1px;
	font-weight: bold;
	text-align: center;
}
.navbar{
            background-color: #3B5998;
            color: white;
            font-size: 50px;
            font-style:  klavika;
            font-family:  klavika;
}
.btn3{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: green;
	color: white;
	border-radius: 1px;
	font-size: 18px;
	text-align: center;
	padding: 3px 10px;
	font-style: normal;

}
